{% extends 'base.html.twig' %}
{% block body %}
<div class="homepage-header" id="backgroundDiv">
    <div>
        <h1>Výroba nábytku <span class="text-main-color">na mieru</span>
        </h1>
        <h2>
            "PRECÍZNOSŤ, ODBORNOSŤ, SPOĽAHLIVOSŤ„
        </h2>
    </div>
</div>
    <div id="dotsContainer"></div>
    <div class="container mt-5 mb-5">
        <div class="text-center about-us p-0">
                <div class="">
                    <div>
                        <div>
                            <p class="main-color fst-italic fw-light h1">Potrebujete vyrobiť nábytok?<br/></p>
                            Dovoľte našej stolárskej firme zariadiť svoj domov nábytkom podľa Vašich predstáv.
                        </div>
                        <p class="main-color fst-italic fw-light p-2 mt-4">„Stolárstvo s viac ako 25 ročnými skúsenosťami"</p>
                    </p>
                </div>
        </div>
    </div>
    <div class="container-fluid mt-5 mb-5">
        <div class="text-center">
            <h2 class="fw-bold"> Výber z našej práce</h2>

            {% set instagramAccount = instagram_account %}

            {% set props = {
                'instagramAccount': instagram_account
            } %}
            <div class="container pt-5 pb-5" data-react-container="Instagram"
                 data-react-props={{ props|json_encode|raw }}></div>
        </div>
    </div>
    </div>
    <div class="homepage-image-section">
        <div>
            <h2>
                "Šikovné ruky, spoľahlivé diela„
            </h2>
        </div>
    </div>
    <script>
        window.onload = function() {
            var backgroundDiv = document.getElementById("backgroundDiv");
            var dotsContainer = document.getElementById("dotsContainer");
            var images = ["kitchen_baza/IMG_3392.JPG", "kitchen_oskrobana/IMG_3496.JPG", "kitchen_teplicka/DSC_0417.JPEG"];
            var currentIndex = 0;
            var intervalId;

            function changeBackground(index) {
                backgroundDiv.style.backgroundImage = "url('images/" + images[index] + "')";
                currentIndex = index;
                updateDots();
            }

            function updateDots() {
                dotsContainer.innerHTML = "";
                for (var i = 0; i < images.length; i++) {
                    var dot = document.createElement("span");
                    dot.className = "dot";
                    dot.dataset.index = i;
                    dot.addEventListener("click", function() {
                        var index = parseInt(this.dataset.index);
                        changeBackground(index);
                        resetInterval();
                    });
                    dotsContainer.appendChild(dot);
                }
                dotsContainer.querySelector('[data-index="' + currentIndex + '"]').classList.add("active-dot");
            }

            function resetInterval() {
                clearInterval(intervalId);
                intervalId = setInterval(function() {
                    currentIndex = (currentIndex + 1) % images.length;
                    changeBackground(currentIndex);
                }, 7000);
            }
            changeBackground(currentIndex);
            updateDots();

            intervalId = setInterval(function() {
                currentIndex = (currentIndex + 1) % images.length;
                changeBackground(currentIndex);
            }, 5000);
        };
    </script>
{% endblock %}
