{% extends 'base.html.twig' %}
{% block body %}
    <div class="container mt100 mb-5">
        <h1>Vstavané skrine</h1>
        <div class="row mt-5">
            <div class="col-12">
                <p class="pe-md-5 about-us">
                    Radi Vám poradíme pri návrhu a rozmiestnení
                    jednotlivých častí vstavaného šatníka. Najdôležitejším faktorom je funkčnosť a správne
                    rozmiestnenie vnútorných regálov, aby ste dosiahli maximálny úložný priestor.
                    Šatníky dodávame v širokej škále farieb a materiálov. Ich výber záleží len na Vás - hliníkové
                    profily, drevotriesky, sklo či zrkadlo.<br>
                    Pracujeme na zdokonalení našich služieb a čoskoro predstavíme online konfigurátor vstavaných skríň.
                </p>
            </div>
        </div>

    </div>
{% endblock %}
