{% extends 'base.html.twig' %}
{% block body %}
    <div class="container mt100 mb-5">
        <h1>A-typický nábytok</h1>
        <div class="row mt-5">
            <div class="col-12">
                <p class="pe-md-5 about-us">
                    Radi by ste oživili svoj interiér? Kontaktujte nás a my Vám vyrobíme jedinečný, kvalitný,
                    štýlový a moderný nábytok na mieru či už sa jedná o rôzne:
                    <ul class="styled-list">
                        <li>
                             Komody
                        </li>
                        <li>
                            TV skrinky
                        </li>
                        <li>
                            Postele
                        </li>
                        <li>
                            Detské izby
                        </li>
                        <li>
                            Spálne
                        </li>
                        <li>
                            Predsiene
                        </li>
                    </ul>
                </p>
            </div>
        </div>

    </div>
{% endblock %}
