{% extends 'base.html.twig' %}
{% block body %}
    <div class="container mt100 mb-5">
        <h1>
            Naše služby
        </h1>
        <div>
            <p class="about-us">
                - Už pri prvotnej konzultácii sa budeme snažiť vypočuť Vaše predstavy a poradiť tak, aby bol finálny
                výsledok presne podľa Vašich očakávaní.<br/> - Po odsúhlasení vypracujeme cenovú ponuku a prípadnú
                vizualizáciu pre ešte lepšiu predstavu.<br/> - V čo najkratšom čase prichádza naskladnenie materiálu a samotná
                výroba.<br/> - Ostáva posledný krok nášho procesu a tým je montáž. Vašu zákazku očistíme, zabalíme, dovezieme
                a všetko poskladáme do finálnej podoby.<br>
                <div class="main-color fst-italic fw-light about-us">"Našou najväčšou radosťou je spokojný zákazník,
                    ktorý odporúča naše služby ostatným.„
                </div>
            </p>
        </div>
    </div>
{% endblock %}
