{% extends 'base.html.twig' %}
{% block body %}
    <div class="container mt100 mb-5">
        <h1>Kuchyne na mieru</h1>
        <div class="row mt-5">
            <div class="col-12">
                <p class="pe-md-5 about-us">
                    <span class="main-color fst-italic fw-light">"Láska ide cez žalúdok„</span><br>
                    Kuchyňa je srdcom každej domácnosti. Je to miesto, kde sa spolu stretáva celá rodina. Preto je
                    potrebné dokonale zladiť funkčnosť, estetiku a praktickosť tak, aby vyhovovala všetkým.
                    Možnosti, ktoré ponúkame sú neobmedzené a záleží na Vás, akú farbu, tvar, výsuvné systémy,
                    spotrebiče si zvolíte. Vďaka nášmu 3D návrhu získate dokonalú predstavu. Samozrejmosťou je, že ak
                    sa rozhodnete pre realizáciu kuchyne u nás, 3D vizualizáciu získate úplne zdarma.<br/><br/>
                    <span class="main-color fst-italic fw-light">"To, čo iný považuje za kvalitu, je u nás štandardom.„</span>
                </p>
            </div>
        </div>

    </div>
{% endblock %}
