{% extends 'base.html.twig' %}
{% block body %}
    <div class="container mt100 mb-5">
        <h1>Kúpeľňový nábytok</h1>
        <div class="row mt-5">
            <div class="col-12">
            <p class="pe-md-5 about-us">
                Nielen obklad či sanita vytvárajú príjemný elegantný dizajn. Kúpeľňový nábytok na mieru je tretím
                prvkom, ktorý dotvorí zladený celok zariadenia miestnosti. Keďže bude denne používaný a navyše
                vystavený zvýšenej vlhkosti, treba dbať na jeho kvalitu a prevedenie. Máme dlhoročnú skúsenosť s
                 výrobou kúpeľňového nábytku a spolupracujeme s desiatkami kúpeľňových štúdii po celom
                Slovensku.
            </p>
            </div>
        </div>
    </div>
{% endblock %}
