{% block body %}
    <footer class="text-center text-lg-start">
        <section class="pt-3">
            <div class="container text-center text-md-start mt-5">
                <div class="row mt-3">
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            Stolárstvo Anton Dvorščík
                        </h6>
                        <p>
                            Naša stolárska firma spája majstrovské remeslo s moderným dizajnom, aby sme Vám poskytli
                            individuálne vyhotovený nábytok, ktorý splní všetky Vaše vysnívané predstavy.
                        </p>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            Výroba nábytku
                        </h6>
                        <p>
                            <a href="/vyroba-nabytku/kuchyne-na-mieru" class="text-reset text-decoration-none">
                                Kuchyne na mieru
                            </a>
                        </p>
                        <p>
                            <a href="/vyroba-nabytku/vstavane-skrine"
                               class="text-reset text-decoration-none"
                            >
                                Vstavané skrine
                            </a>
                        </p>
                        <p>
                            <a href="/vyroba-nabytku/kupelnovy-nabytok"
                               class="text-reset text-decoration-none"
                            >
                                Kúpelňový nábytok
                            </a>
                        </p>
                        <p>
                            <a href="/vyroba-nabytku/atypicky-nabytok"
                               class="text-reset text-decoration-none"
                            >
                                A-typický nábytok
                            </a>
                        </p>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            Stránky
                        </h6>
                        <p>
                            <a href="/" class="text-reset text-decoration-none">O nás</a>
                        </p>
                        <p>
                            <a href="/nase-sluzby" class="text-reset text-decoration-none">Naše služby</a>
                        </p>
                        <p>
                            <a href="/recenzie" class="text-reset text-decoration-none">Recenzie</a>
                        </p>
                        <p>
                            <a href="/materialy" class="text-reset text-decoration-none">Materiály</a>
                        </p>
                        <p>
                            <a href="/kovania" class="text-reset text-decoration-none">Kovania</a>
                        </p>
                        <p>
                            <a href="/kontakt" class="text-reset text-decoration-none">Kontakt</a>
                        </p>
{#                        <p>#}
{#                            <a href="/admin" class="text-reset text-decoration-none" target="_blank">Admin</a>#}
{#                        </p>#}
                        <p>
                            <a href="#" id="open_preferences_center" class="text-reset text-decoration-none">Cookies</a>
                        </p>
                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">Kontakt</h6>
                        <p><i class="fas fa-home me-2"></i> Prečín 295, 018 15 Slovensko</p>
                        <p>
                            <a href="mailto:dvorscik.anton@gmail.com" class="text-decoration-none">
                                <i class="fas fa-envelope me-3"></i>dvorscik.anton@gmail.com</a>
                        </p>
                        <p>
                            <a href="tel:+421908743805" class="text-decoration-none">
                                <i class="fas fa-phone me-3"></i>0908 743 805</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <div class="text-center p-4">
            © {{ 'now' | date('Y') }} Stolárstvo Anton Dvorščík
        </div>
    </footer>
{% endblock %}